h1 {
    color: black;
    border-bottom: solid 3px black;
    width: 50%;
  }

p {
    color: darkblue;
    
}

figcaption{
        color: black;
        size: 4px;
}

strong {
    color: darkred;
}


span {
    color: blue;
  }
